<div class=" content">
  <div class=" row">
    <div class=" col-12">

      <div class="row">

        <div class="col-md-auto">
          <div class="form-group">
            <button type="button" class="btn btn-secondary btn-lg">REQUEST DEVIS</button>
          </div>
        </div>

        <div class="col-md-auto">
          <div class="form-group">
            <button type="button" class="btn btn-secondary btn-lg">REQUEST PASS COMMAND</button>
          </div>
        </div>

        <div class="col-md-auto">
          <div class="form-group">
            <button type="button" class="btn btn-secondary btn-lg">PASS COMMAND</button>
          </div>
        </div>

        <div class="col-md-auto">
          <div class="form-group">
            <button type="button" class="btn btn-secondary btn-lg">COMMAND OK</button>
          </div>
        </div>

        <div class="col-md-auto">
          <div class="form-group">
            <button type="button" class="btn btn-secondary btn-lg">REQUEST AVOIRS</button>
          </div>
        </div>

      </div>
<hr>

      <div class="row">

        <div class="col-md-auto">
          <div class="form-group">
            <button type="button" class="btn btn-secondary btn-lg">RESPONSE DEVIS</button>
          </div>
        </div>

        <div class="col-md-auto">
          <div class="form-group">
            <button type="button" class="btn btn-secondary btn-lg">RESPONSE PASS COMMAND</button>
          </div>
        </div>

        <div class="col-md-auto">
          <div class="form-group">
            <button type="button" class="btn btn-secondary btn-lg">COMMAND CANCELED</button>
          </div>
        </div>

        <div class="col-md-auto">
          <div class="form-group">
            <button type="button" class="btn btn-secondary btn-lg">RESPONSE AVOIRS</button>
          </div>
        </div>


      </div>

      <hr>

      <table class="table table-hover table-dark">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      </tbody>
      </table>

    </div>
  </div>
</div>
