<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!------ Include the above in your HEAD tag ---------->

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
<div class=" content">
  <div class=" row">
    <div class=" col-12">

     <input type="text" id="userName" name="userName" [(ngModel)]="mymessage.from"> <button (click)="entername()">login</button>

      <div class="container">

        <div class="messaging">
          <div class="inbox_msg">
            <div class="inbox_people">

              <div class="headind_srch">
                <div class="recent_heading">
                  <h4>Chat with : {{receiver}}</h4>
                </div>

              </div>

              <div class="inbox_chat" >
                <div *ngFor="let user of listusersconnected">

                <div class="chat_list" role="button"  *ngIf="sender!= user" (click)="userSelected(user)">

                  <div class="chat_people" >
                    <div class="chat_img"><img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"></div>
                    <div class="chat_ib">
                      <h5>{{user}}</h5>
                    </div>
                  </div>
                </div>
                </div>
              </div>

            </div>
            <div class="mesgs">
              <div class="msg_history">

                <div   *ngFor="let msg of messages">

                <div *ngIf="msg.boolform===true && msg.to===receiver">
                <div class="incoming_msg" >
                <div class="received_msg">
                <div class="received_withd_msg">
                <p>{{msg.content}}</p>
                </div>
                </div>
                </div>
                </div>

                <div *ngIf="msg.boolto===false && msg.from===receiver" >
                <div class="outgoing_msg">
                <div class="sent_msg">
                <p>{{msg.content}}</p>
                </div>
                </div>
                </div>

                </div>

              </div>
            </div>
            <div class="type_msg">
              <div class="input_msg_write">
                <input type="text" class="write_msg" placeholder="Type a message" id="sendMessage" name="sendMessage"  [(ngModel)]="mymessage.content">
                <button class="msg_send_btn" type="button" (click)="sendMessage()"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
              </div>
            </div>
        </div>
        </div>


    </div>
  </div>
</div>
