<div class=" content">
  <div class=" row">
    <div class=" col-12">

      <div class="row">

        <div class="col-md-auto">
          <div class="form-group">
            <button type="button" class="btn btn-secondary btn-lg" (click)="requestdevis()">REQUEST DEVIS</button>
          </div>
        </div>

        <div class="col-md-auto">
          <div class="form-group">
            <button type="button" class="btn btn-secondary btn-lg" (click)="displayresquespasscommand()">REQUEST PASS COMMAND</button>
          </div>
        </div>

        <div class="col-md-auto">
          <div class="form-group">
            <button type="button" class="btn btn-secondary btn-lg" (click)="displayok()">COMMAND OK</button>
          </div>
        </div>

        <div class="col-md-auto">
          <div class="form-group">
            <button type="button" class="btn btn-secondary btn-lg">REQUEST AVOIRS</button>
          </div>
        </div>

      </div>
      <hr>

      <div class="row">

        <div class="col-md-auto">
          <div class="form-group">
            <button type="button" class="btn btn-secondary btn-lg" (click)="displayresponsedevis()">RESPONSE DEVIS</button>
          </div>
        </div>

        <div class="col-md-auto">
          <div class="form-group">
            <button type="button" class="btn btn-secondary btn-lg" (click)=" displayresponsepassCommand()">RESPONSE PASS COMMAND</button>
          </div>
        </div>

        <div class="col-md-auto">
          <div class="form-group">
            <button type="button" class="btn btn-secondary btn-lg" (click)="displayAnnuler()">COMMAND CANCELED</button>
          </div>
        </div>

        <div class="col-md-auto">
          <div class="form-group">
            <button type="button" class="btn btn-secondary btn-lg">RESPONSE AVOIRS</button>
          </div>
        </div>


      </div>

      <hr>

      <!--request devis-->
      <div *ngIf="state==0">
        <table class="table table-hover table-dark">
          <thead>
          <tr>
            <th>code commande</th>
            <th>price devis</th>
            <th>date request</th>
            <th>details</th
            ><th>response</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let devis of listrequestdevis">
            <td >{{devis.codeCommande}}</td>
            <td >{{devis.priceCommand}}</td>
            <td >{{devis.dateCammand}}</td>
            <td><button class="btn btn-danger" (click)="openDetails(content , devis.idCommand)">details</button></td>
            <td><button class="btn btn-danger" (click)="openResponse(content1 , devis.idCommand)">open</button></td>
          </tr>
          </tbody>
        </table>
      </div>

      <!--details command-->
      <ng-template #content let-modal class="modal-dialog">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Details</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-hover table-dark">
            <thead>
            <tr>
              <th>product</th>
              <th>unit price</th>
              <th>quantity</th>
              <th>ligne price</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let details of listDetailsCommand">
              <td >{{details.surveillance.productName}}</td>
              <td >{{details.unitPrice}}</td>
              <td>{{details.quantity}}</td>
              <td >{{details.lignePrice}}</td>
            </tr>
            </tbody>
          </table>

        </div>
      </ng-template>

      <!--Response Devis-->
      <ng-template #content1 let-modal class="modal-dialog">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title1">Response</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <textarea name="notice" id="description" placeholder="Write something.." style="width: 40rem; height: 10rem;" [(ngModel)]="description"></textarea>

              <button type="button" class="btn btn-danger" style="float: right;" (click)="responsedevis()">response</button>
          </div>
          <div class="form-group">
              <input name="bonus" id="bonus" placeholder="bonus"[(ngModel)]="bonnus" style="border: 2px solid black;" >
          </div>

        </div>
      </ng-template>

      <!--response devis-->
      <div *ngIf="state==1">
        <table class="table table-hover table-dark">
          <thead>
          <tr>
            <th>code commande</th>
            <th>provider</th>
            <th>price devis</th>
            <th>bonus</th>
            <th>final price</th>
            <th>description</th>
            <th>date response</th>
            <th>details</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let devis of listresponsetdevis">
            <td >{{devis.codeCommande}}</td>
            <td>{{devis.fournisseurCommand}}</td>
            <td>{{devis.priceCommand}}</td>
            <td>{{devis.discountprice}}</td>
            <td>{{devis.finalPriceCommand}}</td>
            <td>{{devis.description}}</td>
            <td>{{devis.dateCammand}}</td>
            <td> <button class="btn btn-danger" (click)="openDetails(content , devis.idCommand)">details</button>
          </tr>
          </tbody>
        </table>
      </div>

          <!--request pass command-->
      <div *ngIf="state==2">
        <table class="table table-hover table-dark">
          <thead>
          <tr>
            <th>code commande</th>
            <th>provider</th>
            <th>price devis</th>
            <th>bonus</th>
            <th>final price</th>
            <th>description</th>
            <th>date response</th>
            <th>details</th>
            <th>action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let devis of listrequestpasscommand">
            <td >{{devis.codeCommande}}</td>
            <td>{{devis.fournisseurCommand}}</td>
            <td>{{devis.priceCommand}}</td>
            <td>{{devis.discountprice}}</td>
            <td>{{devis.finalPriceCommand}}</td>
            <td>{{devis.description}}</td>
            <td>{{devis.dateCammand}}</td>
            <td> <button class="btn btn-danger" (click)="openDetails(content , devis.idCommand)">details</button>
            </td><td> <button class="btn btn-danger" (click)="openResponse(content2 , devis.idCommand)">open</button></td>
          </tr>
          </tbody>
        </table>
      </div>
<!---->

      <!--response pass command-->
      <div *ngIf="state==3">
        <table class="table table-hover table-dark">
          <thead>
          <tr>
            <th>code commande</th>
            <th>provider</th>
            <th>price devis</th>
            <th>bonus</th>
            <th>final price</th>
            <th>description</th>
            <th>date response</th>
            <th>details</th>
            <th>confirmer</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let devis of listresponsepasscommand">
            <td >{{devis.codeCommande}}</td>
            <td>{{devis.fournisseurCommand}}</td>
            <td>{{devis.priceCommand}}</td>
            <td>{{devis.discountprice}}</td>
            <td>{{devis.finalPriceCommand}}</td>
            <td>{{devis.description}}</td>
            <td>{{devis.dateCammand}}</td>
            <td> <button class="btn btn-danger" (click)="openDetails(content , devis.idCommand)">details</button>
            <td> <button class="btn btn-danger" (click)="confirmer(devis.idCommand)">confirmer</button></td>
          </tr>
          </tbody>
        </table>
      </div>
      <!--annuler pass command-->
      <div *ngIf="state==4">
        <table class="table table-hover table-dark">
          <thead>
          <tr>
            <th>code commande</th>
            <th>provider</th>
            <th>price devis</th>
            <th>bonus</th>
            <th>final price</th>
            <th>description</th>
            <th>date response</th>
            <th>details</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let devis of listannulercommand">
            <td >{{devis.codeCommande}}</td>
            <td>{{devis.fournisseurCommand}}</td>
            <td>{{devis.priceCommand}}</td>
            <td>{{devis.discountprice}}</td>
            <td>{{devis.finalPriceCommand}}</td>
            <td>{{devis.description}}</td>
            <td>{{devis.dateCammand}}</td>
            <td> <button class="btn btn-danger" (click)="openDetails(content , devis.idCommand)">details</button>
          </tr>
          </tbody>
        </table>
      </div>

      <!--ok command-->
      <div *ngIf="state==5">
        <table class="table table-hover table-dark">
          <thead>
          <tr>
            <th>code commande</th>
            <th>provider</th>
            <th>price devis</th>
            <th>bonus</th>
            <th>final price</th>
            <th>description</th>
            <th>date response</th>
            <th>details</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let devis of listokcommand">
            <td >{{devis.codeCommande}}</td>
            <td>{{devis.fournisseurCommand}}</td>
            <td>{{devis.priceCommand}}</td>
            <td>{{devis.discountprice}}</td>
            <td>{{devis.finalPriceCommand}}</td>
            <td>{{devis.description}}</td>
            <td>{{devis.dateCammand}}</td>
            <td> <button class="btn btn-danger" (click)="openDetails(content , devis.idCommand)">details</button>
          </tr>
          </tbody>
        </table>
      </div>
      <ng-template #content2 let-modal class="modal-dialog">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title2">Response</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <textarea name="notice" id="description1" placeholder="Write something.." style="width: 40rem; height: 10rem;" [(ngModel)]="description"></textarea>
            <button type="button" class="btn btn-danger" style="float: right;" (click)="responsecommand()">response</button>
          </div>
        </div>
      </ng-template>

    </div>
  </div>
</div>
