<div class="logo">
  <a class="simple-text logo-mini">
    <div class="logo-img">
      <img src="./assets/img/angular2-logo-white.png" />
    </div>
  </a>
  <a  class="simple-text logo-normal">
    Dari Tn
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a [routerLink]="[menuItem.path]">
        <i class="tim-icons  {{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>

  <ul class="nav" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample">
    <li routerLinkActive="active" class="nav-item" >
      <a>
        <i class="tim-icons  icon-camera-18"></i>
        <p> Camera surveillance</p>
      </a>
    </li>
    <li class="collapse" id="collapseExample">
      <ul class="nav">
        <li
          routerLinkActive="active"
          *ngFor="let menuItem of mymenuItems"
          class="{{ menuItem.class }} nav-item"
        >
          <a [routerLink]="[menuItem.path]">
            <i class="tim-icons  {{ menuItem.icon }}"></i>
            <p>{{ menuItem.title }}</p>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>

